<div class="container mx-auto p-5">
  <button class="bg-yellow-400 ml-32 mb-3 px-4 py-2 rounded hover:bg-blue-700" (click)="createProduct()">
    Create New Product
  </button>
  <div class="flex mx-32 gap-3 mb-4">
    <input
      type="text"
      (input)="onSearchChange($event)"
      placeholder="Search by name or other fields"
      class="border border-gray-300 px-4 py-2 rounded w-full"
    />
  </div>

  <div *ngIf="products.length === 0">
    <p
      class="mx-auto w-fit my-10 px-10 py-5 bg-purple-200 rounded-md shadow-md"
    >
      Sorry, No Product is Found!! Please Enter Another Name.
    </p>
  </div>

  <div class="border rounded-md shadow-xl bg-white mx-32 px-5 py-2">
    <div class="grid sm:grid-cols-2 md:grid-cols-4 grid-cols-4 gap-6">
      <div
        *ngFor="let product of products"
        class="bg-gray-200 rounded-md shadow-lg p-4"
      >
        <img
          *ngIf="product.imageName"
          [src]="
            'http://localhost:8080/Product/assignment/product/image/' +
            product.imageName
          "
          alt="Product Image"
          class="w-full h-48 object-cover rounded-t-lg"
        />
        <h3 class="text-xl font-semibold mt-4 overflow-x-hidden">
          <a
            [routerLink]="['/detail', product.id]"
            class="text-blue-700 hover:underline"
          >
            {{ product.name }}
          </a>
        </h3>
        <p class="text-sm text-gray-600">{{ product.description }}</p>
        <div class="flex justify-between mt-2 w-full">
          <p><strong>Price:</strong></p>
          <p>{{ product.price | currency }}</p>
        </div>
        <div class="flex justify-between mt-1 w-full">
          <p><strong>Quantity:</strong></p>
          <p>{{ product.quantity }}</p>
        </div>
      </div>
    </div>
    <!-- Pagination Part -->
    <div *ngIf="products.length > 0" class="flex justify-center my-8 border border-gray-700 rounded-md">
      <nav class="flex flex-col rounded-md shadow-lg bg-gray-300 pt-4 w-full">
        <div class="flex gap-2 bg-white mx-auto">
          <button
            (click)="prevPage()"
            [disabled]="currentPage === 0"
            class="px-4 py-2 rounded-l-md border bg-green-600 text-white hover:bg-green-700 disabled:opacity-70 disabled:text-black disabled:cursor-not-allowed"
          >
            Previous
          </button>

          <div class="flex">
            <button
              *ngFor="let page of [].constructor(totalPages); let i = index"
              (click)="goToPage(i)"
              [class.bg-blue-500]="currentPage === i"
              [class.text-white]="currentPage === i"
              [class.fond-medium]="currentPage === i"
              class="px-8 py-2 border-t border-b border-gray-300 text-gray-500"
            >
              {{ i + 1 }}
            </button>
          </div>

          <button
            (click)="nextPage()"
            [disabled]="currentPage >= totalPages - 1"
            class="px-3 py-1 rounded-r-md border bg-green-600 text-white hover:bg-green-700 disabled:opacity-70 disabled:text-black disabled:cursor-not-allowed"
          >
            Next
          </button>
        </div>
        <div
          *ngIf="products.length > 0"
          class="text-center my-2 text-md text-gray-600"
        >
          Page {{ currentPage + 1 }} of {{ totalPages }} ({{ totalItems }} total
          products)
        </div>
      </nav>
    </div>
  </div>
</div>
